<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>versions</key>
	<array>
		<dict>
			<key>version</key>
			<string>2.6.0</string>
			<key>items</key>
			<array>
				<dict>
					<key>title</key>
					<string>new.reading_layouts</string>
					<key>subtitle</key>
					<string>new.reading_layouts.details</string>
					<key>image</key>
					<string>book</string>
				</dict>
				<dict>
					<key>title</key>
					<string>new.experimental_naskh</string>
					<key>subtitle</key>
					<string>new.experimental_naskh.details</string>
					<key>image</key>
					<string>flask</string>
				</dict>
				<dict>
					<key>title</key>
					<string>new.audio_controls</string>
					<key>subtitle</key>
					<string>new.audio_controls.details</string>
					<key>image</key>
					<string>headphones</string>
				</dict>
				<dict>
					<key>title</key>
					<string>new.notes_updates</string>
					<key>subtitle</key>
					<string>new.notes_updates.details</string>
					<key>image</key>
					<string>text.justify.leading</string>
				</dict>
				<dict>
					<key>title</key>
					<string>new.navigation_updates</string>
					<key>subtitle</key>
					<string>new.navigation_updates.details</string>
					<key>image</key>
					<string>doc.text</string>
				</dict>
				<dict>
					<key>title</key>
					<string>new.translation_update</string>
					<key>subtitle</key>
					<string>new.translation_update.details</string>
					<key>image</key>
					<string>globe</string>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
