# Xcode
#
build/
.DS_Store
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
!default.xcworkspace
xcuserdata
#Breakpoints_v2.xcbkptlist
upload_dsym_results
xcschememanagement.plist
*.xccheckout
profile
*.moved-aside
DerivedData
.idea/
*.hmap
*.ipa
*.xcuserstate

# Swift Package Manager

.build/
Packages/
.swiftpm
