
# options
--importgrouping testable-bottom # sortedImports

# rules

--exclude .build
--disable unusedArguments,emptyBraces,extensionAccessControl,hoistPatternLet,enumNamespaces,redundantType,andOperator,hoistAwait,hoistTry