
# options
--importgrouping testable-bottom # sortedImports
--wraparguments before-first # wrapArguments
--wrapparameters before-first # wrapArguments

# rules

--exclude .build
--disable unusedArguments,emptyBraces,extensionAccessControl,hoistPatternLet,enumNamespaces,redundantType,andOperator,hoistAwait,hoistTry