<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>إِنَّ اللَّهَ لَا يَسْتَحْيِي أَن</string>
	<string>بِسْمِ اللَّهِ الرَّحْمَٰنِ الرَّحِيمِ</string>
	<string>أَتَأْمُرُونَ النَّاسَ بِالْبِرِّ</string>
	<string>وَإِذِ اسْتَسْقَىٰ مُوسَىٰ لِقَوْمِهِ</string>
	<string>أَفَتَطْمَعُونَ أَن يُؤْمِنُوا لَكُمْ</string>
	<string>وَلَقَدْ جَاءَكُم مُّوسَىٰ</string>
	<string>مَا نَنسَخْ مِنْ آيَةٍ أَوْ نُنسِهَا</string>
	<string>وَإِذِ ابْتَلَىٰ إِبْرَاهِيمَ رَبُّهُ</string>
	<string>سَيَقُولُ السُّفَهَاءُ مِنَ النَّاسِ</string>
	<string>إِنَّ الصَّفَا وَالْمَرْوَةَ مِن</string>
	<string>لَّيْسَ الْبِرَّ أَن تُوَلُّوا</string>
	<string>يَسْأَلُونَكَ عَنِ الْأَهِلَّةِ ۖ قُلْ</string>
	<string>وَاذْكُرُوا اللَّهَ فِي أَيَّامٍ</string>
	<string>يَسْأَلُونَكَ عَنِ الْخَمْرِ</string>
	<string>وَالْوَالِدَاتُ يُرْضِعْنَ</string>
	<string>أَلَمْ تَرَ إِلَى الَّذِينَ خَرَجُوا</string>
	<string>تِلْكَ الرُّسُلُ فَضَّلْنَا</string>
	<string>قَوْلٌ مَّعْرُوفٌ وَمَغْفِرَةٌ خَيْرٌ</string>
	<string>لَّيْسَ عَلَيْكَ هُدَاهُمْ وَلَٰكِنَّ</string>
	<string>وَإِن كُنتُمْ عَلَىٰ سَفَرٍ وَلَمْ</string>
	<string>قُلْ أَؤُنَبِّئُكُم بِخَيْرٍ مِّن</string>
	<string>إِنَّ اللَّهَ اصْطَفَىٰ آدَمَ وَنُوحًا</string>
	<string>فَلَمَّا أَحَسَّ عِيسَىٰ مِنْهُمُ</string>
	<string>وَمِنْ أَهْلِ الْكِتَابِ مَنْ إِن</string>
	<string>كُلُّ الطَّعَامِ كَانَ حِلًّا لِّبَنِي</string>
	<string>لَيْسُوا سَوَاءً ۗ مِّنْ أَهْلِ</string>
	<string>وَسَارِعُوا إِلَىٰ مَغْفِرَةٍ مِّن</string>
	<string>إِذْ تُصْعِدُونَ وَلَا تَلْوُونَ</string>
	<string>يَسْتَبْشِرُونَ بِنِعْمَةٍ مِّنَ</string>
	<string>لَتُبْلَوُنَّ فِي أَمْوَالِكُمْ</string>
	<string> يَا أَيُّهَا النَّاسُ اتَّقُوا</string>
	<string>وَلَكُمْ نِصْفُ مَا تَرَكَ</string>
	<string>وَالْمُحْصَنَاتُ مِنَ النِّسَاءِ</string>
	<string>وَاعْبُدُوا اللَّهَ وَلَا تُشْرِكُوا</string>
	<string>إِنَّ اللَّهَ يَأْمُرُكُمْ أَن</string>
	<string>فَلْيُقَاتِلْ فِي سَبِيلِ اللَّهِ</string>
	<string>فَمَا لَكُمْ فِي الْمُنَافِقِينَ</string>
	<string>وَمَن يُهَاجِرْ فِي سَبِيلِ اللَّهِ</string>
	<string>لَّا خَيْرَ فِي كَثِيرٍ مِّن</string>
	<string>يَا أَيُّهَا الَّذِينَ آمَنُوا كُونُوا</string>
	<string>لَّا يُحِبُّ اللَّهُ الْجَهْرَ</string>
	<string>إِنَّا أَوْحَيْنَا إِلَيْكَ كَمَا</string>
	<string> يَا أَيُّهَا الَّذِينَ آمَنُوا</string>
	<string>وَلَقَدْ أَخَذَ اللَّهُ مِيثَاقَ بَنِي</string>
	<string>وَاتْلُ عَلَيْهِمْ نَبَأَ ابْنَيْ</string>
	<string>يَا أَيُّهَا الرَّسُولُ لَا يَحْزُنكَ</string>
	<string>يَا أَيُّهَا الَّذِينَ آمَنُوا لَا</string>
	<string>يَا أَيُّهَا الرَّسُولُ بَلِّغْ مَا</string>
	<string>لَتَجِدَنَّ أَشَدَّ النَّاسِ</string>
	<string>جَعَلَ اللَّهُ الْكَعْبَةَ الْبَيْتَ</string>
	<string>يَوْمَ يَجْمَعُ اللَّهُ الرُّسُلَ</string>
	<string>وَلَهُ مَا سَكَنَ فِي اللَّيْلِ</string>
	<string>إِنَّمَا يَسْتَجِيبُ الَّذِينَ</string>
	<string>وَعِندَهُ مَفَاتِحُ الْغَيْبِ لَا</string>
	<string>وَإِذْ قَالَ إِبْرَاهِيمُ لِأَبِيهِ</string>
	<string>إِنَّ اللَّهَ فَالِقُ الْحَبِّ</string>
	<string>وَلَوْ أَنَّنَا نَزَّلْنَا إِلَيْهِمُ</string>
	<string>لَهُمْ دَارُ السَّلَامِ عِندَ</string>
	<string>وَهُوَ الَّذِي أَنشَأَ جَنَّاتٍ</string>
	<string>قُلْ تَعَالَوْا أَتْلُ مَا حَرَّمَ</string>
	<string> المص</string>
	<string>يَا بَنِي آدَمَ خُذُوا زِينَتَكُمْ</string>
	<string>وَإِذَا صُرِفَتْ أَبْصَارُهُمْ</string>
	<string>وَإِلَىٰ عَادٍ أَخَاهُمْ هُودًا ۗ</string>
	<string>قَالَ الْمَلَأُ الَّذِينَ</string>
	<string>وَأَوْحَيْنَا إِلَىٰ مُوسَىٰ أَنْ</string>
	<string>وَوَاعَدْنَا مُوسَىٰ ثَلَاثِينَ</string>
	<string>وَاكْتُبْ لَنَا فِي هَٰذِهِ الدُّنْيَا</string>
	<string>وَإِذْ نَتَقْنَا الْجَبَلَ فَوْقَهُمْ</string>
	<string>هُوَ الَّذِي خَلَقَكُم مِّن نَّفْسٍ</string>
	<string> يَسْأَلُونَكَ عَنِ الْأَنفَالِ ۖ قُلِ</string>
	<string>إِنَّ شَرَّ الدَّوَابِّ عِندَ اللَّهِ</string>
	<string>وَاعْلَمُوا أَنَّمَا غَنِمْتُم مِّن</string>
	<string>وَإِن جَنَحُوا لِلسَّلْمِ فَاجْنَحْ</string>
	<string>بَرَاءَةٌ مِّنَ اللَّهِ وَرَسُولِهِ</string>
	<string>أَجَعَلْتُمْ سِقَايَةَ الْحَاجِّ</string>
	<string>يَا أَيُّهَا الَّذِينَ آمَنُوا إِنَّ</string>
	<string>وَلَوْ أَرَادُوا الْخُرُوجَ</string>
	<string>إِنَّمَا الصَّدَقَاتُ لِلْفُقَرَاءِ</string>
	<string>وَمِنْهُم مَّنْ عَاهَدَ اللَّهَ لَئِنْ</string>
	<string>إِنَّمَا السَّبِيلُ عَلَى الَّذِينَ</string>
	<string>إِنَّ اللَّهَ اشْتَرَىٰ مِنَ</string>
	<string>وَمَا كَانَ الْمُؤْمِنُونَ</string>
	<string>وَلَوْ يُعَجِّلُ اللَّهُ لِلنَّاسِ</string>
	<string>لِّلَّذِينَ أَحْسَنُوا الْحُسْنَىٰ</string>
	<string>وَيَسْتَنبِئُونَكَ أَحَقٌّ هُوَ ۖ قُلْ</string>
	<string>وَاتْلُ عَلَيْهِمْ نَبَأَ نُوحٍ إِذْ</string>
	<string>وَجَاوَزْنَا بِبَنِي إِسْرَائِيلَ</string>
	<string>وَمَا مِن دَابَّةٍ فِي الْأَرْضِ</string>
	<string>مَثَلُ الْفَرِيقَيْنِ كَالْأَعْمَىٰ</string>
	<string>وَقَالَ ارْكَبُوا فِيهَا بِسْمِ</string>
	<string>وَإِلَىٰ ثَمُودَ أَخَاهُمْ صَالِحًا ۚ</string>
	<string>وَإِلَىٰ مَدْيَنَ أَخَاهُمْ شُعَيْبًا</string>
	<string>وَأَمَّا الَّذِينَ سُعِدُوا فَفِي</string>
	<string>لَّقَدْ كَانَ فِي يُوسُفَ وَإِخْوَتِهِ</string>
	<string>وَقَالَ نِسْوَةٌ فِي الْمَدِينَةِ</string>
	<string>وَمَا أُبَرِّئُ نَفْسِي ۚ إِنَّ</string>
	<string>قَالُوا إِن يَسْرِقْ فَقَدْ سَرَقَ</string>
	<string>رَبِّ قَدْ آتَيْتَنِي مِنَ الْمُلْكِ</string>
	<string>وَإِن تَعْجَبْ فَعَجَبٌ قَوْلُهُمْ</string>
	<string>أَفَمَن يَعْلَمُ أَنَّمَا أُنزِلَ</string>
	<string>مَّثَلُ الْجَنَّةِ الَّتِي وُعِدَ</string>
	<string>قَالَتْ رُسُلُهُمْ أَفِي اللَّهِ شَكٌّ</string>
	<string>أَلَمْ تَرَ إِلَى الَّذِينَ بَدَّلُوا</string>
	<string> الر ۚ تِلْكَ آيَاتُ الْكِتَابِ</string>
	<string>نَبِّئْ عِبَادِي أَنِّي أَنَا الْغَفُورُ الرَّحِيمُ</string>
	<string> أَتَىٰ أَمْرُ اللَّهِ فَلَا</string>
	<string>وَقِيلَ لِلَّذِينَ اتَّقَوْا مَاذَا</string>
	<string>وَقَالَ اللَّهُ لَا تَتَّخِذُوا</string>
	<string>ضَرَبَ اللَّهُ مَثَلًا عَبْدًا</string>
	<string>إِنَّ اللَّهَ يَأْمُرُ بِالْعَدْلِ</string>
	<string>يَوْمَ تَأْتِي كُلُّ نَفْسٍ تُجَادِلُ</string>
	<string> سُبْحَانَ الَّذِي أَسْرَىٰ بِعَبْدِهِ</string>
	<string>وَقَضَىٰ رَبُّكَ أَلَّا تَعْبُدُوا</string>
	<string>قُلْ كُونُوا حِجَارَةً أَوْ حَدِيدًا</string>
	<string>وَلَقَدْ كَرَّمْنَا بَنِي آدَمَ</string>
	<string>أَوَلَمْ يَرَوْا أَنَّ اللَّهَ الَّذِي</string>
	<string>وَتَرَى الشَّمْسَ إِذَا طَلَعَت</string>
	<string>وَاضْرِبْ لَهُم مَّثَلًا رَّجُلَيْنِ</string>
	<string>مَّا أَشْهَدتُّهُمْ خَلْقَ</string>
	<string>قَالَ أَلَمْ أَقُل لَّكَ إِنَّكَ لَن</string>
	<string>وَتَرَكْنَا بَعْضَهُمْ يَوْمَئِذٍ</string>
	<string>فَحَمَلَتْهُ فَانتَبَذَتْ بِهِ</string>
	<string>فَخَلَفَ مِن بَعْدِهِمْ خَلْفٌ</string>
	<string> طه</string>
	<string>مِنْهَا خَلَقْنَاكُمْ وَفِيهَا</string>
	<string>وَمَا أَعْجَلَكَ عَن قَوْمِكَ يَا</string>
	<string>وَعَنَتِ الْوُجُوهُ لِلْحَيِّ</string>
	<string> اقْتَرَبَ لِلنَّاسِ حِسَابُهُمْ</string>
	<string>وَمَن يَقُلْ مِنْهُمْ إِنِّي إِلَٰهٌ</string>
	<string>وَلَقَدْ آتَيْنَا إِبْرَاهِيمَ</string>
	<string>وَأَيُّوبَ إِذْ نَادَىٰ رَبَّهُ أَنِّي</string>
	<string> يَا أَيُّهَا النَّاسُ اتَّقُوا</string>
	<string>هَٰذَانِ خَصْمَانِ اخْتَصَمُوا فِي</string>
	<string>إِنَّ اللَّهَ يُدَافِعُ عَنِ الَّذِينَ</string>
	<string>ذَٰلِكَ وَمَنْ عَاقَبَ بِمِثْلِ مَا</string>
	<string> قَدْ أَفْلَحَ الْمُؤْمِنُونَ</string>
	<string>هَيْهَاتَ هَيْهَاتَ لِمَا تُوعَدُونَ</string>
	<string>وَلَوْ رَحِمْنَاهُمْ وَكَشَفْنَا مَا</string>
	<string> سُورَةٌ أَنزَلْنَاهَا وَفَرَضْنَاهَا</string>
	<string>يَا أَيُّهَا الَّذِينَ آمَنُوا لَا</string>
	<string>اللَّهُ نُورُ السَّمَاوَاتِ</string>
	<string>وَأَقْسَمُوا بِاللَّهِ جَهْدَ</string>
	<string> تَبَارَكَ الَّذِي نَزَّلَ</string>
	<string>وَقَالَ الَّذِينَ لَا يَرْجُونَ</string>
	<string>وَهُوَ الَّذِي مَرَجَ الْبَحْرَيْنِ</string>
	<string> طسم</string>
	<string>وَأَوْحَيْنَا إِلَىٰ مُوسَىٰ أَنْ</string>
	<string>قَالُوا أَنُؤْمِنُ لَكَ وَاتَّبَعَكَ</string>
	<string>أَوْفُوا الْكَيْلَ وَلَا تَكُونُوا</string>
	<string> طس ۚ تِلْكَ آيَاتُ الْقُرْآنِ</string>
	<string>قَالَ سَنَنظُرُ أَصَدَقْتَ أَمْ كُنتَ</string>
	<string>فَمَا كَانَ جَوَابَ قَوْمِهِ إِلَّا</string>
	<string>وَإِذَا وَقَعَ الْقَوْلُ عَلَيْهِمْ</string>
	<string>وَحَرَّمْنَا عَلَيْهِ الْمَرَاضِعَ</string>
	<string>فَلَمَّا قَضَىٰ مُوسَى الْأَجَلَ</string>
	<string>وَلَقَدْ وَصَّلْنَا لَهُمُ الْقَوْلَ</string>
	<string>إِنَّ قَارُونَ كَانَ مِن قَوْمِ</string>
	<string> الم</string>
	<string>فَآمَنَ لَهُ لُوطٌ ۘ وَقَالَ إِنِّي</string>
	<string>وَلَا تُجَادِلُوا أَهْلَ الْكِتَابِ</string>
	<string> الم</string>
	<string>مُنِيبِينَ إِلَيْهِ وَاتَّقُوهُ</string>
	<string>اللَّهُ الَّذِي خَلَقَكُم مِّن ضَعْفٍ</string>
	<string>وَمَن يُسْلِمْ وَجْهَهُ إِلَى اللَّهِ</string>
	<string>قُلْ يَتَوَفَّاكُم مَّلَكُ الْمَوْتِ</string>
	<string> يَا أَيُّهَا النَّبِيُّ اتَّقِ</string>
	<string>قَدْ يَعْلَمُ اللَّهُ الْمُعَوِّقِينَ</string>
	<string>وَمَن يَقْنُتْ مِنكُنَّ لِلَّهِ</string>
	<string>تُرْجِي مَن تَشَاءُ مِنْهُنَّ</string>
	<string>لَّئِن لَّمْ يَنتَهِ الْمُنَافِقُونَ</string>
	<string>وَلَقَدْ آتَيْنَا دَاوُودَ مِنَّا</string>
	<string>قُلْ مَن يَرْزُقُكُم مِّنَ</string>
	<string>قُلْ إِنَّمَا أَعِظُكُم بِوَاحِدَةٍ ۖ</string>
	<string>يَا أَيُّهَا النَّاسُ أَنتُمُ</string>
	<string>إِنَّ اللَّهَ يُمْسِكُ السَّمَاوَاتِ</string>
	<string>وَمَا أَنزَلْنَا عَلَىٰ قَوْمِهِ مِن</string>
	<string>أَلَمْ أَعْهَدْ إِلَيْكُمْ يَا بَنِي</string>
	<string>احْشُرُوا الَّذِينَ ظَلَمُوا</string>
	<string>وَإِنَّ مِن شِيعَتِهِ لَإِبْرَاهِيمَ</string>
	<string>فَنَبَذْنَاهُ بِالْعَرَاءِ وَهُوَ</string>
	<string>وَهَلْ أَتَاكَ نَبَأُ الْخَصْمِ إِذْ</string>
	<string>وَعِندَهُمْ قَاصِرَاتُ الطَّرْفِ</string>
	<string>وَإِذَا مَسَّ الْإِنسَانَ ضُرٌّ دَعَا</string>
	<string>فَمَنْ أَظْلَمُ مِمَّن كَذَبَ عَلَى</string>
	<string>قُلْ يَا عِبَادِيَ الَّذِينَ</string>
	<string> حم</string>
	<string>أَوَلَمْ يَسِيرُوا فِي الْأَرْضِ</string>
	<string>وَيَا قَوْمِ مَا لِي أَدْعُوكُمْ إِلَى</string>
	<string>قُلْ إِنِّي نُهِيتُ أَنْ أَعْبُدَ</string>
	<string>قُلْ أَئِنَّكُمْ لَتَكْفُرُونَ</string>
	<string>وَقَيَّضْنَا لَهُمْ قُرَنَاءَ</string>
	<string>إِلَيْهِ يُرَدُّ عِلْمُ السَّاعَةِ ۚ</string>
	<string>شَرَعَ لَكُم مِّنَ الدِّينِ مَا</string>
	<string>وَلَوْ بَسَطَ اللَّهُ الرِّزْقَ</string>
	<string>وَمَا كَانَ لِبَشَرٍ أَن يُكَلِّمَهُ</string>
	<string>قَالَ أَوَلَوْ جِئْتُكُم بِأَهْدَىٰ</string>
	<string>وَلَمَّا ضُرِبَ ابْنُ مَرْيَمَ مَثَلًا</string>
	<string>وَلَقَدْ فَتَنَّا قَبْلَهُمْ قَوْمَ</string>
	<string>اللَّهُ الَّذِي سَخَّرَ لَكُمُ</string>
	<string> حم</string>
	<string>وَاذْكُرْ أَخَا عَادٍ إِذْ أَنذَرَ</string>
	<string>أَفَلَمْ يَسِيرُوا فِي الْأَرْضِ</string>
	<string>يَا أَيُّهَا الَّذِينَ آمَنُوا</string>
	<string>لَّقَدْ رَضِيَ اللَّهُ عَنِ</string>
	<string> يَا أَيُّهَا الَّذِينَ آمَنُوا لَا</string>
	<string>قَالَتِ الْأَعْرَابُ آمَنَّا ۖ قُل</string>
	<string>قَالَ قَرِينُهُ رَبَّنَا مَا</string>
	<string>قَالَ فَمَا خَطْبُكُمْ أَيُّهَا</string>
	<string>وَيَطُوفُ عَلَيْهِمْ غِلْمَانٌ</string>
	<string>وَكَم مِّن مَّلَكٍ فِي السَّمَاوَاتِ</string>
	<string>كَذَّبَتْ قَبْلَهُمْ قَوْمُ نُوحٍ</string>
	<string> الرَّحْمَٰنُ</string>
	<string> إِذَا وَقَعَتِ الْوَاقِعَةُ</string>
	<string>فَلَا أُقْسِمُ بِمَوَاقِعِ النُّجُومِ</string>
	<string>أَلَمْ يَأْنِ لِلَّذِينَ آمَنُوا أَن</string>
	<string> قَدْ سَمِعَ اللَّهُ قَوْلَ الَّتِي</string>
	<string>أَلَمْ تَرَ إِلَى الَّذِينَ تَوَلَّوْا</string>
	<string>أَلَمْ تَرَ إِلَى الَّذِينَ نَافَقُوا</string>
	<string>عَسَى اللَّهُ أَن يَجْعَلَ بَيْنَكُمْ</string>
	<string> يُسَبِّحُ لِلَّهِ مَا فِي</string>
	<string>وَإِذَا رَأَيْتَهُمْ تُعْجِبُكَ</string>
	<string> يَا أَيُّهَا النَّبِيُّ إِذَا</string>
	<string> يَا أَيُّهَا النَّبِيُّ لِمَ</string>
	<string> تَبَارَكَ الَّذِي بِيَدِهِ الْمُلْكُ</string>
	<string> ن ۚ وَالْقَلَمِ وَمَا يَسْطُرُونَ</string>
	<string> الْحَاقَّةُ</string>
	<string>إِنَّ الْإِنسَانَ خُلِقَ هَلُوعًا</string>
	<string> قُلْ أُوحِيَ إِلَيَّ أَنَّهُ</string>
	<string>إِنَّ رَبَّكَ يَعْلَمُ أَنَّكَ تَقُومُ</string>
	<string> لَا أُقْسِمُ بِيَوْمِ الْقِيَامَةِ</string>
	<string>وَيَطُوفُ عَلَيْهِمْ وِلْدَانٌ</string>
	<string> عَمَّ يَتَسَاءَلُونَ</string>
	<string> عَبَسَ وَتَوَلَّىٰ</string>
	<string> إِذَا السَّمَاءُ انفَطَرَتْ</string>
	<string> إِذَا السَّمَاءُ انشَقَّتْ</string>
	<string> سَبِّحِ اسْمَ رَبِّكَ الْأَعْلَى</string>
	<string> لَا أُقْسِمُ بِهَٰذَا الْبَلَدِ</string>
	<string> أَلَمْ نَشْرَحْ لَكَ صَدْرَكَ</string>
	<string>أَفَلَا يَعْلَمُ إِذَا بُعْثِرَ مَا</string>
</array>
</plist>
