name: CI

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  Package:
    runs-on: macos-26

    steps:
    - uses: actions/checkout@v2

    - name: Setting up Xcode
      run: sudo xcode-select -s "/Applications/Xcode_26.2.app"

    - name: Install xcbeautify
      run: brew install xcbeautify

    - name: Run tests
      run: make test

    - uses: codecov/codecov-action@v4
      with:
        token: ${{ secrets.CODECOV_TOKEN }}

  ExampleApp:
    runs-on: macos-26

    steps:
      - uses: actions/checkout@v2

      - name: Setting up Xcode
        run: sudo xcode-select -s "/Applications/Xcode_26.2.app"

      - name: Install xcbeautify
        run: brew install xcbeautify
      
      - name: Build
        run: make build-example

  SwiftFormat:
    runs-on: macos-26

    steps:
      - uses: actions/checkout@v2

      - name: Setting up Xcode
        run: sudo xcode-select -s "/Applications/Xcode_26.2.app"
      
      - name: SwiftFormat
        run: make format-lint
